body{
    color:white;
    background: black;
    margin: 0px;
    font-family: "Changa", sans-serif;
    header{
    border-bottom:solid 2px rgb(42,122,228);
    padding: 20px;
    font-size: 32 px;
    color: rgb(42,122,228);
    }
    section{
    background:rgb(184,153,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    }
    div{margin-right: 20px;
    }
   
    .chamada-texto{
     margin-right: 5%;
    img{height: 200px;}
   
    h1{
    font: size 120px;
    }
    p{
        font: size 60px;
        